<%= form_for :comment, url: article_comments_path(@article), method: :post do |f| %>
  <!--
  collection.build(attributes = {}, …) Returns one or more new objects of the collection type that have been instantiated with attributes and linked to this object through a foreign key, but have not yet been saved. Note: This only works if an associated object already exists, not if it‘s nil!
  -->
  <div class="field">
    <div class="control">
      <%= f.text_field :name, input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' },class:'form-control',placeholder:'Name', style:'margin-left:30px;margin-top:20px;margin-bottom:5px;width:40%;' %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.text_field :comment, input_html: { class: 'textarea' }, wrapper: false, label_html: { class: 'label' },class:'form-control', style:'margin-left:30px;width:70%;',placeholder:'Type something here...'  %>
    </div>
  </div>
  <%= f.submit 'Leave a reply',class:'btn btn-info', style:'margin:30px;' %>
<% end %>